@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --dark-grey: #333333;
    --medium-grey: #636363;
    --light-grey: #eeeeee;
    --ash: #f4f4f4;
    --primary-color: #334080;
    --secondary-color: #F5C400;
    --white: white;
    --border: 1px solid var(--light-grey);
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/** A PROPOS **/

.a-propos {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 40px;
}

.h1__a-propos {
    font-size: 1.7rem;
    font-weight: 550;
}

.p__a-propos {
    padding-top: 20px;
}